body {
    text-align: center;
    font-family: 'Knewave', cursive;
}

.start{
    width: 100vw;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    height: 15vh;
    display: block;
}

#title {
    font-size: 2em;
    margin: 0;
    display: block;
}

#info {
    font-size: 1em;
    margin: 0;
    display: block;
}

.game_container {
    width: 100%;
    height: 22vh;
    display: block;
}

#remainingGuesses{
    margin-bottom: 1%;
}

#guess_input {
    box-shadow: 0 0 70px blue;
    color: mediumblue;
    height: 3vh;
    width: 5vw;
    font-size: 2em;
    border-radius: 5%;
    padding: 1%;
    text-align: center;
    font-weight: bold;
}

#response_div {
    color: black;
    font-size: 1.5em;
    width: 100%;
    height: 5vh;
    display: block;
}

button {
    border-radius: 5%;
    outline-style: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    font-weight: bold;
    padding: 1%;

}

button:hover {
    color: white;
    background-color: black;
}

#submit {
    margin-top: 2%;
}

#reset {
    font-size: 2em;
}

#image_container {
    width: 100%;
    height: 55vh;
    display: block;
}

.imageHeader {
    width: 100%;
    height: 3.5vh;
    margin-bottom: 2%;
    font-size: 1.5em;
    display: block;
}

#randomImg {
    margin-top: 7%;
    height: 51vh;
    display: block;
}

